spring:
  application:
    name: api-gateway
server:
  port: 5555
# zuul 开启特殊的url
# 忽略Mange结尾的数据
zuul:
 ignored-patterns: /**/*Manage/*
 byPass:
   url: /**/hello2Manage/*,/**/hello3Manage/*
eureka:
  client:
    service-url:
     defaultZone: http://localhost:1111/eureka
management:
  security:
   enabled: false
